*{
    margin: 0;
    padding: 0;
}
body{
    background-color:  lightgray ;
}
.calculator{
    margin:50px auto;
    width:350px;
    /* border: solid red; */
}
.heading{
    width: 350px;
    display: flex;
    justify-content: space-between;

}
.theme{
    display: flex;
    justify-content: space-between;
    
    width: 100px;
    align-items: center;
}
.tri-state-toggle {
    display: flex;
    justify-content: center;
    border-radius: 40px;
    border: 0.1px solid;
  }
  #one {
    opacity: 1;
  }
  .tri-state-toggle input {
    height: 10px;
    width: 10px;
    appearance: none;
    background-color:hsl(25, 98%, 40%);
    border-radius: 50%;
    opacity: 0;
  }
  input:hover {
    cursor: pointer;
  }
   .display input{
    width: 350px;
    height: 90px;
    background-color: white;
    margin-top: 5%;
    display: flex;
    justify-content: end;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    font-size: 20px;
   }
   #btn{
       margin-top: 15px;
    height: 300px; 
    background-color:hsl(0, 5%, 81%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
  }
  
  .row-1,
  .row-2,
  .row-3,
  .row-4,
 .btndown
  {display: flex;
    justify-content: space-around;  
    }

    .row-1 button
    .row-2, button
    .row-3, button
    .row-4, button{
        height: 40px;
        width: 60px;
        border-radius: 8px;
        border: none;
        font-size: large;
        font-weight: bold;
        margin: 5px 5px;
        background-color: lightgray;
    }
    .btndown button{
        width: 132px;
        height: 40px;
        border-radius: 8px;
  }
  .reset{
      background-color: hsl(176, 100%, 44%) ;
      color: white;
      font-weight: bold;
  }
  .equal{
      color: white;
      background-color: hsl(25, 98%, 40%);
      font-weight: bold;
  }
  .del{
      background-color: hsl(176, 100%, 44%);
      font-weight: bold;
      color: white;
  }
  .attribution{
    margin-top: 5px;
  }
  @media only screen and (max-width:600px){
    #btn{
        height: 400px; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0px;
        background-color:  hsl(0, 5%, 81%);  
    }
    .row-1 button
    .row-2, button
    .row-3, button
    .row-4, button{
        height: 60px;
        width: 60px;
        border-radius: 8px;
        border: none;
        font-size: large;
        font-weight: bold;
        margin: 0px;
        background-color: lightgray;
        
    }
    .display input{
        height: 70px;
        background-color: white;
        margin-top: 5%;
        display: flex;
        justify-content: end;
        border-radius: 7px;
        border: none;
        font-weight: bold;
        font-size: 20px;
       }
  }
